<div class="wrapper">
  <div class="sidebar" data-color="red" data-image="assets/img/sidebar-5.jpg">



    <div class="sidebar-wrapper">
      <div class="logo">
        <a class="simple-text">
                    Admin Login
                </a>
      </div>

      <ul class="nav">
        <li class="active">
          <a >
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a [routerLink]="['./newproject']"  >
            <i class="pe-7s-user"></i>
            <p>New Project</p>
          </a>
        </li>
        <li>
          <a [routerLink]="['./newclient']" >
            <i class="pe-7s-note2"></i>
            <p>New Client</p>
          </a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="pe-7s-news-paper"></i>
            <p>Inquiry</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <a class="navbar-brand" >Dashboard</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a  class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
                <p class="hidden-lg hidden-md">Dashboard</p>
              </a>
            </li>
            <li class="dropdown">
              <a  class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-globe"></i>
                <b class="caret hidden-sm hidden-xs"></b>
                <span class="notification hidden-sm hidden-xs">5</span>
                <p class="hidden-lg hidden-md">
                  5 Notifications
                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li><a>Notification 1</a></li>
                <li><a>Notification 2</a></li>
                <li><a>Notification 3</a></li>
                <li><a>Notification 4</a></li>
                <li><a>Another notification</a></li>
              </ul>
            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a >
                <p>Account</p>
              </a>
            </li>
            <li class="dropdown">
              <a  class="dropdown-toggle" data-toggle="dropdown">
                <p>
                  Report
                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li><a>Project </a></li>
                <li><a>Client</a></li>
                <li class="divider"></li>
                <li><a>Product</a></li>
              </ul>
            </li>
            <li>
              <a (click)="logOut()">
                <p>Log out</p>
              </a>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
          </ul>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>
</div>